@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
font-family: 'Poppins', sans-serif;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
background: darkblue;
}
.box{
    width: 600px;
    height: 120px;
    background: rgba(255,255,255,0.35);
    display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
border-left: 2px solid white;
border-top: 2px solid white;
border-right: 2px solid white;
border-bottom: 2px solid white;
overflow: hidden;
cursor: pointer;
transition: 3s;
}
.title{
    position: absolute;
    color: darkblue;
    font-size: 80px;
    font-weight: 900;
    z-index: 1;
    text-shadow: 2px 2px 0px white;
    transition: 1s;
}
.stick{
    width: 900px;
    height: 30px;
    background: white;
    transform: rotate(-15deg) translateY(200px);
filter: blur(20px);
animation: animate 2s linear infinite;
}
@keyframes animate
{
    0%{
        transform: rotate(-15deg) translateY(200px);
    }
    50%{
        transform: rotate(-15deg) translateY(-200px);
    }
    100%{
        transform: rotate(-15deg) translateY(200px);
    }
}